.product-crud-container {
  max-width: 1500px;  
}

.btn-crud-add {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  font-size: 16px;
  letter-spacing: -0.015em;
  font-weight: bold;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .product-crud-bar-container {
    display: flex;
    margin-bottom: 40px;
  }

  .btn-crud-add {
    height: 60px;
    margin-bottom: 0;
  }    
}
