.auth-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.auth-banner-container {
    display: none;
}

.auth-form-container {
    width: 100%;
}

@media (min-width: 576px) {
    .auth-form-container {
        width: 480px;
    }    
}

@media (min-width: 768px) {
    .auth-form-container {
        width: 550px;
    }    
}

@media (min-width: 1200px) {
    .auth-container {
        padding: 40px;
    }
    
    .auth-banner-container {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        width: 500px;
    }

    .auth-banner-container h1 {
        font-size: 40px;
        letter-spacing: -0.015em;
        color: #263238;
        margin-bottom: 15px;
    }

    .auth-banner-container p {    
        font-size: 18px;
        letter-spacing: -0.015em;
        color: #9e9e9e;
    }    

    .auth-banner-container svg {
        width: 100%;   
    }    
}

@media (min-width: 1400px) {   

    .auth-banner-container {
        width: 650px;
    }

    .auth-banner-container h1 {
        font-size: 55px;
        margin-bottom: 15px;
    }

    .auth-banner-container p {    
        font-size: 24px;
    }      
}
