.catalog-container {
    font-size: 18px;
}

.catalog-title-container {
    margin-bottom: 20px;
}

.catalog-title-container h1 {
    font-size: 1em;
    letter-spacing: -0.015em;
    color: #263238;
}

@media (min-width: 576px) {
    .catalog-container {
        font-size: 30px;
    }    
}