.main-nav {
    padding-left: 40px;
    min-height: 70px;
}

.nav-logo-text {
    color: #FFF;
}

.nav-logo-text:hover {
    color: #FFF;
}

.main-menu {
    display: flex;
    font-size: 18px;
    width: 380px;
    justify-content: space-between;
}

.main-menu a {
    color: rgba(255, 255, 255, 0.5);
}

.main-menu a:hover {
    color: #FFF;
}

.main-menu a.active {
    color: #FFF;
    font-weight: bold;
}

.nav-login-logout {
    display: none;    
}

.nav-username {
    display: none;
}

@media (min-width: 768px) {
    .nav-login-logout {
        display: unset;    
        color: #fff;
        margin-right: 15px;
    }    
}

@media (min-width: 992px) {
    .nav-login-logout {
        margin-right: 40px;
    }    

    .nav-username {
        display: unset;
        margin-right: 20px;
    }    
}