.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #E1E1E1;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.015em;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.pagination-item.active {
    background-color: #407BFF;
}    

.pagination-link-active {
    background-color: #407BFF;
}    

.arrow-previous {
    transform: rotate(-180deg);
    color: #407BFF;
}

.arrow-next {
    margin-left: 10px;
    color: #407BFF;
}

.arrow-inactive {
    color: #E1E1E1;
}

.arrow-active {
    color: #407BFF;
}

.pagination-arrow-container {
    display: flex;
    align-items: center;
}