.product-filter-container {
  padding: 15px;
  margin-bottom: 20px;
}

.product-filter-name-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #E1E1E1;
  margin-bottom: 10px;
}

.product-filter-name-container input {
  border: none;
}  

.product-filter-name-container input:focus {
  box-shadow: none;
}  

.product-filter-name-container input::placeholder {
  color: #9E9E9E;
}  

.product-filter-search-icon {
  border: none;
  background-color: unset;
}

.product-filter-bottom-container {
  display: flex;
}

.product-filter-category-container {
  flex: 1;
  margin-right: 10px;
}  

.btn-product-filter-clear {
  font-weight: 10px;
}

.btn-product-filter-word {
  display: none;
}

/*** Estilizando o Combobox, componente de Terceiros ***/
.product-filter-select__control {
  font-size: 1em;
  letter-spacing: -0.015em;
  color: #263238;
  border: none !important;
  border-bottom: 1px solid #E1E1E1 !important;
}

.product-filter-select__placeholder {
  color: #9E9E9E !important;
}

.product-filter-select__indicator-separator {
  display: none;
}
/************/

@media (min-width: 576px) {
  .btn-product-filter-word {
    display: unset;
  }
}

@media (min-width: 768px) {
  .btn-product-filter-word {
    display: none;
  }

  .product-filter-container {
    margin-left: 20px;
    flex: 1;
    margin-bottom: 0;
    padding: 10px 15px;
  }

  .product-filter-form {
    display: flex;
  }

  .product-filter-name-container {
    flex: 1;
    margin-right: 20px;
    margin-bottom: 0;
  }

  .product-filter-bottom-container {
    flex: 1;
  }
}

@media (min-width: 992px) {
  .btn-product-filter-word {
    display: unset;
  }
}  